.task-event-popover {
    @at-root [data-bs-theme=dark] & {
        --floating-bg: #141414;
    }
    padding: .8rem;

    .name {
        font-size: .8rem;
        font-weight: bold;
    }

    &-confirm-button .btn {
        font-size: .8rem;
    }
}