.week-range-picker {
    position: relative;

    &-trigger {
        width: 100%;
        height: 100%;

        button.navigate-week {
            flex-grow: 0;
        }

        button.week-label {
            border-right: none;
            border-left: none;
        }
    }
}