.week-range-picker {
    position: relative;

    &-trigger {
        width: 100%;
        height: 100%;

        button.navigate-week {
            flex-grow: 0;

            color: var(--bs-btn-disabled-color);
            background-color: var(--bs-btn-disabled-bg);
            border-color: var(--bs-btn-disabled-border-color);
            opacity: var(--bs-btn-disabled-opacity);
        }
    }
}