.color-picker {
    box-sizing: content-box;
}

[data-bs-theme='dark'] .color-picker {
    --compact-background-color: #323232 !important;
}

.color-picker-hidder {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}