.confirm-button-component {
    .primary-button {
        transition: background-color 0.2s ease;
        position: relative;
        z-index: 2;
    }
    .confirm-button {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 1;
        &.visible {
            transform: translateX(calc(100% + 8px));
            opacity: 1;
        }
    }
}