{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('grid') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('grid') }}
{% endblock %}

{% block body %}
<div id="root"></div>
{% endblock %}
