{% extends "base.html.twig" %}

{% block title %}Kanban{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('kanban') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('kanban') }}
{% endblock %}

{% block body %}
<div id="root" class="layout-fill-container"></div>
{% endblock %}
