@import "./abstract";
@import "abstract/bootstrap";

.btn-primary-alt {
    @include button-variant($primary-alt,  darken($primary-alt, 3%));
}
.btn-outline-primary-alt {
    @include button-outline-variant($primary-alt);
}
.btn-warning-alt {
    @include button-variant($warning-alt,  darken($warning-alt, 3%));
}
.btn-outline-warning-alt {
    @include button-outline-variant($warning-alt);
}

.break-words-smart {
    word-break: break-word;
    overflow-wrap: anywhere;
}
.timer-button {
    font-variant-numeric: tabular-nums;
    //font-family: monospace;
}