@import "@styles/abstract";

$statuses: (
    //todo: $secondary,
    inprogress: $primary-alt,
    paused: $warning-alt,
    done: $success
);

.task-status-select {
    @each $status, $color in $statuses {
        &.#{$status} {
            background-color: transparent;
            background-image: none;
            padding: $form-select-padding-y $form-select-padding-x;
            border-color: #{$color};
            color: #{$color};
            @if $status != done {
                cursor: pointer;
            }
            &:focus {
                box-shadow: none;
                border-color: #{$color};
            }
        }
    }
    &.todo {
        cursor: pointer;
        padding: $form-select-padding-y $form-select-padding-x;
        &:focus {
            box-shadow: none;
            border-color: var(--bs-border-color);
        }
    }
}