@import '@styles/abstract';

.task.card {
    margin-bottom: 1rem;

    @at-root [data-bs-theme=dark] .kanban-column & {
        --#{$prefix}card-border-color: #{$dark-alt};
    }
    &:hover {
        --#{$prefix}card-border-color: #{$dark-alt};
        @at-root [data-bs-theme=dark] & {
            --#{$prefix}card-border-color: rgba(255, 255, 255, 0.55);
        }
    }

    .card-body {
        cursor: pointer;
    }
    .card-footer {
        border: none;
    }

    &.is-overlay-dragging {
        opacity: 0.75;
    }

    &.is-sortable-dragging {
        --is-sortable-dragging-color: #{$gray-300};
        @at-root [data-bs-theme=dark] & {
            --is-sortable-dragging-color: #{$dark-soft};
        }
        --#{$prefix}card-border-color: var(--is-sortable-dragging-color);
        --#{$prefix}card-title-color: var(--is-sortable-dragging-color);
        --#{$prefix}card-color: var(--is-sortable-dragging-color);
        --#{$prefix}card-cap-bg: var(--is-sortable-dragging-color);

        background-color: var(--is-sortable-dragging-color);
        .btn.timer-button {
            color: var(--is-sortable-dragging-color);
        }
        .form-select {
            background-image: none;
            border: none !important;
            color: transparent !important;
            background-color: transparent !important;
        }
    }
}

.draggable-task-card {
    transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(var(--scale, 1));
}