@import '@styles/abstract';

.task.card {
    @at-root .kanban-column & {
        border-color: $dark-alt;
    }
    &:hover {
        border-color: rgba(255, 255, 255, 0.55);
    }
    .card-body {
        cursor: pointer;
    }
    .card-footer {
        border: none;
    }
}